@using OdeToFood.Enums
@model ResturantCreateViewModel

<form method="post">
    <input asp-for="Resturant.Name"/>
    @*<select asp-for="Resturant.Cuisine" asp-items="@Html.GetEnumSelectList(CuisineType)()"></select>*@
</form>